.bg {
  background-color: #d4dcf1;
  top:0;
  left:20px;
  right:20px;
  height: 100%;
  width:100%;
  position:fixed;
}

.drpr{
  display:flex;
}

.drpr1{
  display:flex;
  flex-direction: row;
}

.dr-info2{
  display:flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding:2%;
  margin-bottom: 2%;
  margin-right: 2%;

}
.modal-content {
  background: rgba( 14, 37, 69, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding:2%;

}

.approve{
  background: rgba( 14, 37, 69);
  color: white;
}

.close{
  color: white;
}

.modal-body{
  display:flex;
  flex-direction: row;
}

.text-area{
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  color:rgba( 14, 37, 69)!important;
  padding-bottom: 2%;
  padding-right:2%;
  padding-top:2%;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 2%;
}

.text{
  border:0px!important;
  padding-left:0%!important
}

.dr-info{
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-bottom: 2%;
    margin-left: 2%;
}

.dr-info1{
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.column2{
  display:flex;
  flex-direction: column;
}

.column1{
  display:flex;
  flex-direction: column;
}